* {
    margin: 0;
    padding: 0;
}

/*It is a best practice to specify the fonts in the body*/
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    /*during animation it moves up, it hides it*/
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 500;
    animation: moveInLeft;
    animation-duration: 1s;
    /*animation-delay: 3s;
          animation-iteration-count: 3
          animation-timing-function: ease-in*/
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.8rem;
    font-weight: 500;
    animation: moveInRight;
    animation-duration: 1s;
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #55c57a, #28b485);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
}

.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.heading-tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
}

.heading__completed {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    animation: moveInRight;
    animation-duration: 1s;
    font-family: Lato;
}

.paragraph {
    font-size: 1.6rem;
}

.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
        /*Starting from left (-100px) to (0px)
          rotate(0deg);
          */
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(52, 152, 219, 1.0), rgba(251, 255, 254, 0.8)), url(../img/back.png);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Move up and left by 50%*/
    text-align: center;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: #777;
    display: inline-block;
    /*to seperate a element from other and give it a seperate block and make it inline means border around its elements not upto the width of the whole div.*/
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
}

.btn:hover {
    /*hover means when mouse is moved over the button */
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:hover::after {
    /* when we hover then change the properties of pseudo elemnt*/
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active {
    /*active means when button is clicked it transforms with respect to inital state of button*/
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    /*x,y,blur,color*/
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

.btn::after {
    /* It will cereate a duplicate btn it's a pseudo element*/
    content: "";
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*hide the button*/
    transition: all 0.4s;
}

.btn--animated {
    animation: moveInUp .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
    font-size: 1.6rem;
    color: #28b485;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.11rem solid #28b485;
    padding: .3rem;
    transition: all 0.2s;
}

.btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}

.input__url {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
    outline: none;
    display: block;
    border-radius: 10rem;
    border-style: none;
    text-decoration: none;
    margin-left: 2rem;
    margin-bottom: 3rem;
    width: 50rem;
    color: #777;
}

.input__url:hover {
    /*hover means when mouse is moved over the button */
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
